{% extends "header.html" %}

{% block body %}

<div role="tabpanel">
	{{value}}
	{{yahoo}}
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#Mobile" aria-controls="Mobile" role="tab" data-toggle="tab">Mobile</a></li>
    <li role="presentation"><a href="#pendrive" aria-controls="pendrive" role="tab" data-toggle="tab">pendrive</a></li>
    <li role="presentation"><a href="#Mouse" aria-controls="Mouse" role="tab" data-toggle="tab">Mouse</a></li>

  </ul>

  <!-- Tab panes -->
<div class="tab-content">
  <div role="tabpanel" class="tab-pane fade in active" id="Mobile">
  <ul>
     <h1>iPhone 6s</h1>
	 <img src="https://s3.amazonaws.com/rb-ecommerce/download.jpg" alt="Mountain View" style="width:304px;height:228px;">
	 
		 
  </ul>
  </div>
  
  
  <div role="tabpanel" class="tab-pane fade" id="pendrive">Pen drive
  <ul>
	<h1>This is a pendrive</h1>
	<img src="https://s3.amazonaws.com/rb-ecommerce/pendrive.jpg" alt="Mountain View" style="width:304px;height:228px;">
  
  </ul>
  </div>
  
  
  <div role="tabpanel" class="tab-pane fade" id="Mouse">Mouse
  <ul>
	<h1>Dell Wireless Mouse</h1>
	<img src="https://s3.amazonaws.com/rb-ecommerce/dell-wireless-mouse-m112.jpg" alt="Mountain View" style="width:304px;height:228px;">
  </ul>
  </div>

</div>

</div>

{% endblock %}